@import './../config';

.carousel-container {
	margin: 0rem 2rem 0rem 2rem;
	@media (min-width: 768px) {
		margin: 0rem 4rem 0rem 4rem;
	}
	@media (min-width: 992px) {
		margin: 0rem 6rem 0rem 6rem;
	}
	& .carousel {
		position: relative;
		& .carousel-scroll {
			overflow: auto;
			scrollbar-width: thin;
			scrollbar-color: #333 transparent;
		}
		& .end-overflow {
			position: absolute;
			height: 100%;
			width: 40px;
			top: 0px;
			right: 0px;
			background-image: linear-gradient(to left, #000, rgba(0, 0, 0, 0));
			opacity: 0;
			transition: all 0.2s linear 0s;
			&.visible {
				opacity: 1;
			}
			@media (min-width: 768px) {
				width: 70px;
			}
			@media (min-width: 992px) {
				width: 100px;
			}
		}
		& .start-overflow {
			position: absolute;
			height: 100%;
			width: 40px;
			top: 0px;
			background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
			opacity: 0;
			transition: all 0.2s linear 0s;
			&.visible {
				opacity: 1;
			}
			@media (min-width: 768px) {
				width: 70px;
			}
			@media (min-width: 992px) {
				width: 100px;
			}
		}
		& .content-item {
			& small {
				font-size: 75%;
			}
			& img {
				transition: all 0.2s linear 0s;
			}
			&:hover {
				& img {
					transform: scale(110%);
				}
				& p,
				small {
					color: $text;
				}
			}
			& .poster-container {
				overflow: hidden;
				border-radius: 4px;
				width: 160px;
			}
		}
	}
}
