@import './config';

html,
body {
	background-color: #000;
	color: $text;
	scrollbar-width: thin;
	scrollbar-color: #333 transparent;
}

ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

a {
	color: $text;
	text-decoration: none;
	&.active {
		color: $text-pseudo;
	}
	&:hover {
		color: $text-pseudo;
	}
}

.page-content {
	padding-top: 8em;
	@media (min-width: 768px) {
		padding-top: 4em;
	}
}

/* width */
::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #222;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #333;
}
